.tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute; top: 55%; left: 16%; transform: translate(-50%, -50%);
}

.tab.active {
  background-color: #4caf50;
  color: white;
}

.tab-content {
  margin-top: 10px;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* Set a percentage width instead of fixed pixel value */
  max-width: 1000px; /* Set a maximum width to limit the container size */
  max-height: 300px;
  /* height: 500px; */
  /* overflow: auto; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius:20px;

}

@media screen and (max-width: 768px) {
  /* Apply different styles for screens with a maximum width of 768px */
  .tab-content {
    top: 50%; /* Adjust the positioning for smaller screens */
    width: 95%; /* Increase the width for better visibility on smaller screens */
    height: 300px; /* Adjust the height as needed */
  }
}



.tab-content ul {
  list-style-type: none;
  padding: 0;
}

.tab-content ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.tab-content ul li span {
  flex-grow: 1;
}

.tab-content ul li button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #00788c;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}
.tab-content li {
  border: 1px solid #803482;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;

}

.tab-content ul li button:hover {
  background-color: #45a049;
}

