<div class="center-box">
  <h1>Chat Input</h1>
  <input type="text" [(ngModel)]="utterance" placeholder="Enter Utterance" (keyup.enter)="submitUtterance()"/>
  <div class="language-select">
    <select [(ngModel)]="selectedLanguage">
      <option value="hindi">Hindi</option>
      <option value="english">English</option>
      <!-- Add more languages here -->
    </select>
    <button (click)="submitUtterance()">Submit</button>
  </div>
</div>
